@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: transparent;

    font-family: 'Raleway', sans-serif;
    --blue-text: #3348db;
    --white-text: #FFFFFF;
}

.white-text{
    color: var(--white-text);
}

.blue-text{
    /*color: var(--blue-text);*/
    background-color: var(--blue-text);
    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.blue-border{
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
}

.headline-text{
    text-transform: uppercase;
}

body{
    width: 100vw;
    background-color: black;
}

header{
    width: 100%;
    background: url("assets/images/banner.png") no-repeat;
    background-position-x: -1rem;
}

#banner{
    height: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(180deg, rgba(0,0,0,.4) 0%, rgba(30, 170, 220, 0.15) 50%, rgba(0,0,0,.1) 100%);
}

#banner div{
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    text-align: center;
    margin: 0 auto;
}

#banner__logo{
    width:  268px;
    height: 268px;

    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(1px);
}
#banner__logo img{
    width: 100%;
    margin-top: 1rem;
}

#banner__title{
    text-align: center;
    font-weight: 900;
}

#banner__text{
    text-align: justify;
    font-size: 1.25rem;
    font-weight: 400;
}

#banner_button{
    width: 326px;
    height: 57px;

    font-size: 16px;
    font-weight: 900;
    background-color: transparent;
    align-self: center;
    padding: 1rem;
    margin: 1rem;

    letter-spacing: 3px;
}