/*
* ------------------------------
*
*           Imports
*
* ------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
* ------------------------------
*
*           Variables
*
* ------------------------------
*/
:root{
    --text-primary-color: #000;
    --text-secundary-color: #515151;
    --backgroung-color: #F9F9F9;
    --foreground-color: #FFF;
    --button-color: #CC0000;
    --button-bg: #F8F8F8;
    --border-color: #CCC;
}


/*
* ------------------------------
*
*           General
*
* ------------------------------
*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
}

.hidden{
    display: none;
}

.active{
    display: block;
}

html{
    width: 100lvw;
    height: 100lvw;
}

body{
    width: 100%;
    height: 100%;
    min-width: 280px;
}

button{
    background-color: transparent;
}

ul li {
    list-style: none;
}

.container{
    width: 100%;
    height: 100%;
}

.row{
    width: 100%;
}

.column{
    height: 100%;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.align-itens-center{
    align-items: center;
}

.align-itens-start{
    align-items: flex-start;
}

.align-itens-end{
    align-items: flex-end;
}


.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}

img{
    width: 100%;
    height: auto;
}

/*
* ------------------------------
*
*           Fonts
*
* ------------------------------
*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}


/*
* ------------------------------
*
*           Headings
*
* ------------------------------
*/
h2.heading{
    font-size: 1.25rem;
}

h3.heading{
    font-size: 0.875rem;
}


/*
* ------------------------------
*
*           Navbar
*
* ------------------------------
*/

.navbar{
    padding: 0 24px;
    height: 56px;
    border: 1px solid red;
    position: fixed;
}

.navbar .nav-logo{
    width: 146px;
    height: 24px;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    font-size: 18px;
}

.navbar .nav-logo button{
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.navbar .nav-logo button i{
    font-size: 22px;
    font-weight: lighter;
}

.navbar .image{
    width: 90px;
    height: 20px;
    position: relative;
}

.navbar .image img{
    max-width: 100%;
    max-height: 100%;
}

.nav-menu{
    width: 130px;
    height: 34px;
}

.nav-search{
    width: 404px;
    height: 40px;
    border: 1px solid;
    border-color: var(--border-color);
}

.nav-search input{
    padding-left: 1rem;
    height: 100%;
    width: 100%;
}

.nav-search .search-btn{
    width: 56px;
    height: 39px;
    background-color: var(--button-bg);
    border-left: 1px solid;
    border-color: var(--border-color);
}

/* TODO: Fix button visual feedback on click*/

.navbar-icon {
    width: 24px;
    height: 24px;
    font-size: 18px;
}



/*
* ------------------------------
*
*           Main
*
* ------------------------------
*/

main > div.flex{
    padding: 5.25rem 1rem;
    gap: 1.5625rem;
}
/*

            Video Player

*/

main section.video-container{
    width: 1027px;
    padding-left: 4.6875rem;
}

#player-container{
    width: 952px;
    align-self: flex-end;
}

/*

            Video Cards

*/
main.container aside.video-cards{
    width: 372px;
}

/*
* ------------------------------
*
*           Media Queries
*
* ------------------------------
*/

