@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /*Box Model*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Text*/
    color: var(--light-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: 'Raleway', sans-serif;


    /* Colors */
    --light-color: #FFFFFF;
    --darkc-color: #000000;
    --light-gray: #252525;
    --light-blue: #33A8DB;
    --dark-blue: #1472B7;
    background-color: transparent;
}

body {
    width: 100vw;
    min-width: 300px;
    background-color: var(--darkc-color);
}

.flex-colum-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main {
    width: 100%;
    gap: 100px;
}

.blue-text {
    color: transparent;
    background-size: 100%;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid var(--light-blue);
}

#banner {
    gap: 0;
    width: 600px;
    margin: auto auto 75px;
    text-align: center;
}

#banner__content {
    color: var(--light-color);
    width: 600px;
    margin: auto;
    text-align: center;
}

#banner__logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    border-radius: 50%;
    padding: 16px;
    margin: auto auto 16px;
}

#banner__logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#banner__title {
    font-size: 2.5rem;
    font-weight: 900;
}

#banner__text {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}

.border-square-blue {
    border: 0.13rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, var(--light-blue) 0%, var(--dark-blue) 100%);
}

#banner__button {
    width: 19.7rem;
    height: 3.4rem;
    align-self: center;
    padding: 16px;
    background-color: transparent;
}


#banner__button span {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
}

#banner__title {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

section {
    margin: 100px auto;
}

#modules {
    width: 800px;
}

.headline-text {
    text-transform: uppercase;
}

#modules__title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.description-text {
    font-size: 1rem;
    font-weight: 400;
}

.modules__box {
    width: 33.4rem;
    height: 3.2rem;
    border-radius: 3.6rem;
    background-color: var(--light-gray);
    text-align: center;
    line-height: 3.2rem;
    margin: 5px;
}

.border-round-blue {
    border: double 0.13rem transparent;
    border-radius: 3.6rem;
    background-image: linear-gradient(#252525, #252525), radial-gradient(circle at top left, #33A8DB, #1472B7);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#breather {
    height: 560px;
    background-size: cover;
    background-image: url(assets/images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid var(--light-blue);
    border-bottom: 1px solid var(--light-blue);
    padding: 200px;
}

#breather h2 {
    max-width: 250px;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    text-shadow: 0.19rem 0.13rem var(--light-blue);
    text-align: left;
}

#benefits {
    text-align: center;
    width: 800px;
}

#benefits h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 24px;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid var(--light-blue);
}

footer p {
    margin-top: -1rem;
}

footer a {
    text-decoration: none;
}

footer .blue-text {
    font-weight: bolder;
}


@media (min-width: 290px) and (max-width: 800px) {
    #banner, #modules, #breather, #benefits, #benefits img, #footer {
        width: 100vw;
        padding: 1rem;
    }
    #breather {
        padding: 20px;
    }

    #breather h2 {
        font-size: 1.5rem;
        margin: 13rem  auto auto 0;
    }
}

@media (max-width: 800px){
    #breather {
        background-position-x: -25rem;
    }
    #breather h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    .modules__box {
        width: 28rem;
        height: 5rem;
    }

  .modules__box p {
      line-height: 28px;
      margin: 1.5rem auto auto;
  }

    #breather {
        background-position-x: -25rem;
    }

    #breather h2 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .modules__box {
        width: 20rem;
        height: 5rem;
    }

    .modules__box p {
        line-height: 16px;
        margin: 1.5rem auto auto;
    }

    #breather {
        background-position-x: -35rem;
    }
}

@media (max-width: 360px) {
    #banner {
        gap: 0;
        margin: auto auto 75px;
        text-align: center;
    }

    #banner__button {
        width: 16rem;
    }

    #banner__button span {
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 3px;
    }

    .modules__box {
        width: 15rem;
        height: 5rem;
    }

    .modules__box p {
        line-height: 18px;
        margin: 1.5rem auto auto;
    }

    .description-text {
        padding: 2rem;
    }

    #breather {
        background-position-x: -35rem;
    }

    #benefits h2{
        letter-spacing: 3px;
    }

    footer img{
        width: 260px;
    }
}